body {
  background-color: whitesmoke;
}

/*Title*/

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

/* webkit text stroke have some problems with the font*/
.title,
.description {
  text-align: center;
  color: black;
  text-shadow: 2px 0 white, -2px 0 wheat, 0 2px white, 0 -2px white, 1px 1px white, -1px -1px white, -1px 1px white, 1px -1px white; 
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

/*login*/
.login-form {
    display: flex;
    flex-flow: column;
    gap: 12px;
    max-width: 50%;
    padding: 10px;
    border-radius: 8px;
    background-color: green;
    align-items: center;
    max-width: 400px;
}

.login-form > input, button {
    width: 95%;
}

.login-form-button {
    background-color: greenyellow;
}

.page-display-center {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
/*Command form   probably this way to use the grid is not even correct*/
.command-form {
  display: grid; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  padding: 10px;
  border-radius: 8px;
  background-color: green;
  width: 450px;
}

.command-form-area {
  background-color: whitesmoke;
  height: 400px;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 8;
  grid-column-end: 13;
  padding: 15px;
}

.command-form-text {
  grid-row-start: 8;
  grid-column-start: 1;
  grid-row-end: 8;
  grid-column-end: 11;
  width: 100%;
}

.comand-form-button {
  grid-row-start: 8;
  grid-column-start: 11;
  grid-row-end: 8;
  grid-column-end: 13;
  width: 100%;
}

.command-form-text, .comand-form-button {
  max-height: 20px;
}

/*login bar*/
.login-bar {
  background-color: black;
  position: fixed;
  top: 0px;
  height: 20px;
  left: 0;
  right: 0;
}

.login-bar-container {
  width: 90%;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 2px;
  margin-left: 2px;
}


.login-bar-element {
  float: inline-end;
}

/*main-nav-bar*/
.main-nav-bar {
    box-sizing: border-box;
    margin: 0;
    padding: 0em 2em;
    background-color: rgb(52, 192, 94);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 4rem;
    position: fixed;
    display: flex;
    top: 20px;
  }
  
  .main-nav-bar > li, a {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #edf0f1;
    text-decoration: none;
  }
  
  .main-nav-bar-links {
    list-style: none;
  }
  
  .main-nav-bar-links li {
    display: inline-block;
    padding: 1.5em;
    padding-bottom: 0;
    padding-top: 0;
  }
  
  .main-nav-bar-links li a {
    transition: all 0.3s ease 0s;
  }
  
  .main-nav-bar-links li a:hover {
    color: #2e1919
  }

  /*latteral menu*/

  .lateral-menu {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: rgb(46, 221, 90);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 85px;
  }
  
  .lateral-menu div {
    padding: 8px 8px 8px 32px;
    font-size: 25px;
    color: #ececec;
    display: block;
    transition: 0.3s;
  }

  .lateral-menu div:hover {
    background-color: #0d7228;
    color: #000;
  }

  /*footer*/

  .footer-area  {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    flex-flow: row wrap;
    padding: 0px 30px 0px 30px;
    color: #2f2f2f;
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
  }
  
  .footer-area > * {
    flex:  1 100%;
  }
  
  .footer-addr {
    margin-right: 1.25em;
  }
  
  .footer-logo {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    text-transform: lowercase;
    font-size: 1.5rem;
  }
  
  .footer-addr h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
  }
  
  .nav-title {
    font-weight: 400;
    font-size: 15px;
  }
  
  .footer address {
    font-style: normal;
    color: #999;
  }
  
  .footer-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgb(33, 33, 33, 0.07);
    border-radius: 100px;
    color: #2f2f2f;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
  }
  
  .footer ul {
    list-style: none;
    padding-left: 0;
  }
  
  .footer li {
    line-height: 2em;
  }
  
  .footer a {
    text-decoration: none;
  }
  
  .footer-nav {
    display: flex;
    flex-flow: row wrap;
  }
  
  .footer-nav > * {
    flex: 1 50%;
    margin-right: 1.25em;
  }
  
  .nav-ul a {
    color: #999;
  }
  
  .nav-ul--extra {
    column-count: 2;
    column-gap: 1.25em;
  }
  
  .legal {
    display: flex;
    flex-wrap: wrap;
    color: #999;
  }
    
  .legal-links {
    display: flex;
    align-items: center;
  }
  
  .heart {
    color: #2f2f2f;
  }
  
  @media screen and (min-width: 24.375em) {
    .legal .legal-links {
      margin-left: auto;
    }
  }
  
  @media screen and (min-width: 40.375em) {
    .footer-nav > * {
      flex: 1;
    }
    
    .nav-item--extra {
      flex-grow: 2;
    }
    
    .footer-addr {
      flex: 1 0px;
    }
    
    .footer-nav {
      flex: 2 0px;
    }

    .canvas-wrapper {
      width: 500px;
      height: 500px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }

    .main-canvas-wrapper {
      height: 500px;
      width: 500px;
      position: absolute;
      z-index: -1;
      top: 50%;
      transform: translatey(-60%); /* I ask forgiveness of my sins and the sins of all contributors */
    }
  }