body {
  background-color: dimgrey;
}

.login-form {
    display: flex;
    flex-flow: column;
    gap: 12px;
    max-width: 50%;
    padding: 10px;
    border-radius: 8px;
    background-color: green;
    align-items: center;
    max-width: 400px;
}

.login-form > input {
    width: 95%;
}

.login-form-button {
    background-color: greenyellow;
}

.page-display-center {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/*header*/
.nav-bar {
    box-sizing: border-box;
    margin: 0;
    padding: 0em 2em;
    background-color: rgb(52, 192, 94);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 4rem;
    top: 0;
    position: fixed;
    display: flex;
  }
  
  .nav-bar > li,
  a,
  button {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #edf0f1;
    text-decoration: none;
  }
  
  .nav-bar-links {
    list-style: none;
  }
  
  .nav-bar-links li {
    display: inline-block;
    padding: 1.5em;
    padding-bottom: 0;
    padding-top: 0;
  }
  
  .nav-bar-links li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav-bar-links li a:hover {
    color: #0088a9
  }

  .footer-area {
    width: 100%;
    height: 100px;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-area img {
    margin-left: 0.5rem;
  }

  .footer-area a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;
    text-decoration: none;
  }