/*WELCOME CSS UDACHNYMC*/
/* CSS for non-components  */

/*IMPORTS*/
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Spline+Sans&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Spline Sans', sans-serif;
}

* {
  box-sizing: border-box;
}
ul{
  margin: 0;
  padding: 0;
}

/* 1 - Main Wrapper */

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Title*/

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

/* webkit text stroke have some problems with the font*/
.title,
.description {
  text-align: center;
  color: black;
  text-shadow: 2px 0 white, -2px 0 wheat, 0 2px white, 0 -2px white,
    1px 1px white, -1px -1px white, -1px 1px white, 1px -1px white;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.page-display-center {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/*main-nav-bar*/

.main-nav-wrapper {
  width: 100%;
}
.main-nav-bar {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.849);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  min-height: 4rem;
  position: fixed;
  left: 0;
  width: 100%;
  gap: 48px;
}

.main-nav-bar > li,
a {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: white;
  text-decoration: none;
}

.main-nav-bar-links,
.main-nav-bar-home {
  list-style: none;
  display: flex;
  gap: 48px;
}

.main-nav-bar-links li,
.main-nav-bar-home {
  display: inline-block;
}

.main-nav-bar-links li a,
.main-nav-bar-home {
  transition: all 0.3s ease 0s;
}

.main-nav-bar-links li a:hover,
.main-nav-bar-home {
  color: #2e1919;
}

.nav-bar-login{
  border-radius: 50px;
  background-color: #00AA00;
  padding: 10px 30px;
}

.nav-ul a {
  color: #999;
}

.nav-ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.nav-title {
  font-weight: 400;
  font-size: 15px;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
}

.legal-links {
  display: flex;
  align-items: center;
}

.heart {
  color: #2f2f2f;
}
