/* MEDIA QUERYS PART CSS */

@media screen and (min-width: 15.375em) {
  .legal .legal-links {
    margin-left: auto;
  }

  .main-nav-bar {
    flex-direction: column;
    gap: 15px;
  }
  .nav-bar-login{
    margin-bottom: 10px;
  }
  .footer-area {
    position: relative;
  }
  .canvas-wrapper {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .main-canvas-wrapper {
    height: 500px;
    width: 500px;
    position: absolute;
    z-index: -1;
    top: 50%;
    transform: translatey(
      -60%
    ); /* I ask forgiveness of my sins and the sins of all contributors */
  }
}

@media screen and (min-width: 40.375em) {

  .main-nav-bar {
    flex-direction: row;
    gap: 48px;
  }
   .nav-bar-login{
    margin-bottom: 0px;
  }

  .footer-area {
    position: fixed;
  }
  .footer-nav > * {
    flex: 1;
  }

  .nav-item--extra {
    flex-grow: 2;
  }

  .footer-addr {
    flex: 1 0px;
  }

  .footer-nav {
    flex: 2 0px;
  }

  .canvas-wrapper {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .main-canvas-wrapper {
    height: 500px;
    width: 500px;
    position: absolute;
    z-index: -1;
    top: 50%;
    transform: translatey(
      -60%
    ); /* I ask forgiveness of my sins and the sins of all contributors */
  }
}
